{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}

<style>
th.cim { width: 70% !important; }
</style>

<h1>Mark My Professor</h1>
<p>Értékelések száma: {{markmyprofdata[0]}}<br>
Utolsó értékelés: {{markmyprofdata[1]}}</p>



<div class="row">
<div class="col-sm-8 col-md-4">
    <h1>Pici számítógép</h1>
    <table class="table table-hover table-striped">
    <thead class="thead-inverse"><tr><th class="cim">Paraméter</th><th>Érték</th></tr></thead>
    <tbody>
    {% for tuple in results %}
        <tr><td>{{tuple[0]}}</td>
        <td>{{tuple[1]|safe}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>


{% endblock %}