{% extends "base.html" %}
{% set active_page = "kozlekedes" %}
{% block content %}
<style>
span.tramnumber {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffdd60;
}
span.busnumber {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(112, 185, 255);
}
li.trams {
    margin-bottom: 1em;
}
</style>

<h2 class="h4">Közlekedés</h2>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Megállók
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a href="./kozlekedes" class="dropdown-item">Összes</a>
    <div class="dropdown-divider"></div>
  {% for line in lines: %}
    <a href="./kozlekedes-{{loop.index0}}" class="dropdown-item">{{ line[0] }}</a>
  {% endfor %}
  </div>
</div>

{% for data in all_data %}
<h3 class="h5">{{ data.line[0] }}</h3>

{% if data.arrivals: %}
<ul>
{% for tram in data.arrivals %}
    <li class="trams"><span style="color: black !important;" class="{% if ('56' in tram.number) %} tramnumber {% else %} busnumber {% endif %}">{{tram.number}}</span> érkezik {{tram.mins}} perc múlva és megy tovább {{tram.direction}} felé</li>
{% endfor %}
</ul>
{% else %}
<p>Nincs érkező villamos a közeljövőben.</p>
{% endif %}

{% endfor %}

{% endblock %}